<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inflect Demo</title>
</head>
<body>
  <h2>Inflect Demo</h2>

  <form method="POST" action="/handle">
    <label for="word"></label>
    <input name="word" type="text">
    <input type="submit">
  </form>

</body>
</html>